<h1 id="name">Matthew Jones</h1>
<p>Find me in app/views/home/index.html.erb</p>

<video playsinline autoplay muted loop poster="<%= image_path "poster.png" %>" id="bgvid">
    <source src="<%= video_path "background.mp4" %>" type="video/mp4">
</video>
