<div id="headlineDiv"></div>

<h1 id="name">Matthew Jones</h1>
<p id="description"> junior full stack developer </p>

<video playsinline autoplay muted loop poster="<%= image_path "poster.png" %>" id="palms">
    <source src="<%= video_path "background.mp4" %>" type="video/mp4">
</video>
