<div class="innerContainer"></div>

<div class="container">
  <div class="about">
    <h1 class="headline" id="headlineTop">Matt Jones</h1>

    <%= image_tag("IMG_5303.jpg", class: "aboutPhoto")%>

    <div class="aboutDeets">
      <p>Welcome to my site built with Ruby on Rails, I'm Matthew Jones. I built this site in order to showcase some skills I mastered while studying at Dev Bootcamp, such as the video background on the landing page (filmed in slo-mo, I wouldn't blame ya if you didn't notice).</p>
      <p>Dev Bootcamp taught me a lot more than just coding, databases, or object-oriented design.  DBC employs a paired-programming environment; with a new partner each day, I quickly learned how to communicate and work well with classmates from a variety of backgrounds.</p>
      <p>I believe communication, working smart, and clean code are critical to success. I am looking to work in an environment with mentoring, code reviews, and strong communication.</p>
      <p>30 Rock is my favorite show, I've watched every episode about 30 times, except the finale, I've never watched it.  My TV habit includes high brow shows like Homeland, The Good Fight, Game of Thrones and Westworld.... and low brow shows like Vanderpump Rules, the Housewives, and UnREAL.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="about">
    <h1 class="headline" id="headlineTop">Gunner</h1>

    <%= image_tag("IMG_0013.jpg", class: "aboutPhoto")%>

    <div class="aboutDeets">
      <p>This mini horse is the reason I get out of bed in the mornings.... and sometimes the reason I don't.</p>
      <p>Born July 22, 2015, this Great Dane is a curious and troublemaking cutie.  Weighing in at about 154lbs, this pup needs a lot of love, and food.</p>
      <p>Recently hospitalized for eating an excessive amount of grass, everything about this dog is expensive.  Don't worry, he's recovering well, and feeling much better.</p>
      <p>Now that we live on over an acre in Fallbrook, this guy loves to smell flowers and stare into the wind.  He does not know how to swim, and has no interest in learning.</p>
      <p>There's a 75% chance he is currently sleeping at any given time.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class="about">
    <h1 class="headline" id="headlineTop">Sarge</h1>

    <%= image_tag("IMG_0154.jpg", class: "aboutPhoto")%>

    <div class="aboutDeets">
      <p>Half Great Dane, and half Labrador Retriever, we refer to this guy as a Lab XL, or a Pretty Good Dane.</p>
      <p>Adopted from a Great Dane Rescue Center, Sarge was dropped off when his first family found out he wasn't a purebred Dane.</p>
      <p>Sargie has the best feautures of each breed, he loves to follow his people wherever we go, including in the pool.</p>
      <p>A naturally pretty lazy dog, Sarge is likely half-asleep at this very moment.</p>
      <p>Sarge is about 10 years old.</p>
      <p>And is also allergic to chicken.</p>
      <p>but looooves it</p>
    </div>
  </div>
</div>

<p></p>
