<div class="innerContainer"></div>

<div class="container">
  <div class="about">
    <h1 class="headline" id="headlineTop">Matthew Jones</h1>

    <%= image_tag("IMG_5303.jpg", class: "aboutPhoto")%>

    <div class="aboutDeets">
      <p>A little about me...</p>

      <p>I am a Full-Stack Web Developer with 1000+ hours of coding in Ruby, Rails, JavaScript, React Native, Swift, Splunk and more, living in sunny Fallbrook, San Diego County, California.</p>
      <p>As a recent graduate of Dev Bootcamp, I am looking to pursue Jr. Full Stack Developer position.</p>
      <p>I believe communication, working smart, and clean code are critical to success. I am looking to work in an environment with mentoring, code reviews, and strong communication.</p>

      <p>Dog lover. Oxford comma proponent. BA in Communication from San Diego State University.</p>
    </div>

  </div>
</div>
