<div class="background"></div>
<h1 class="newsfeed">News</h1>

<div class="postContainer">
  <% @posts.each do |post| %>
    <div class="post">
      <p class="postTitle"><%=post.title%></p>
      <p class="postAuthor">Author: </p><p class="authorName"><%=post.author%></p>
      <p class="postDescription"><%=post.description%></p>
    </div>
  <% end %>
</div>
