
<h1 class="headline">News</h1>

<div class="innerContainer"></div>

<div class="container">
  <div class="postContainer">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="postTitle"><%= link_to "#{post.title}", post_path(post.id) %></div>
        <div class="postAbsoluteTop postAuthor">Author: </div>
        <div class="postAbsoluteTop authorName"><%=post.user.username%></div>
        <div class="postDescription"><%=post.description%></div>
        <div class="postAbsoluteBottom commentCount"><%=post.comments.count%></div>
        <div class="postAbsoluteBottom postComment"> Comments</div>
      </div>
    <% end %>
  </div>
</div>
