@import "variables"
@import "mixins"

body
  font-family: $sanFrancisco
  margin: 0

#headlineDiv
  @include transparentBackground
  @include textBubble
  background-color: #000
  height: 200px
  width: 700px

#name
  @include transparentBackgroundText
  top: -170px
  font-weight: $sfLight
  font-size: 60pt

#description
  @include transparentBackgroundText
  color: $primaryColor
  font-weight: $sfHeavy
  font-size: 20pt
  top: -170px

#enterDiv
  @include transparentBackground
  @include textBubble
  background-color: #000
  height: 100px
  width: 500px

#enter
  @include relativeAutoCenter
  top: -85px
  width: 150px
  font-size: 40pt
  font-weight: $sfLight
  color: #FFF
  a
    @include whiteLink
  a:hover
    @include easeToHeavy

video#palms
  @include cover
  top: 50%
  left: 50%
  z-index: -100
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  background: image_path "poster.png" no-repeat
  background-size: cover
