$primaryColor: #2196F3
$secondaryColor: #64B5F6
$gradientTop: #818A8C
$gradientBottom: #F4DDB3
$gradient: linear-gradient($gradientTop, $gradientBottom)
$sanFrancisco: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande"
$sfLight: 100
$sfHeavy: 600

body
  font-family: $sanFrancisco
  margin: 0

#headlineDiv
  background-color: #000
  opacity: .27
  height: 200px
  width: 700px
  margin: auto
  margin-top: 200px
  display: flex
  justify-content: center
  flex-direction: column
  border-radius: 7px

#name
  position: relative
  margin: 0 auto
  top: -170px
  text-align: center
  font-weight: 100
  font-size: 60pt
  color: #FFF

#description
  position: relative
  color: $secondaryColor
  margin: auto
  text-align: center
  font-weight: 600
  font-size: 20pt
  top: -170px

#enterDiv
  background-color: #000
  opacity: .27
  height: 100px
  width: 300px
  margin: auto
  margin-top: 200px
  display: flex
  justify-content: center
  flex-direction: column
  border-radius: 7px

#enter
  position: relative
  margin: auto
  top: -85px
  width: 150px
  text-align: center
  font-size: 40pt
  font-weight: $sfLight
  color: #FFF
  a
    color: #FFF
    text-decoration: none
    transition: all 0.5s ease
  a:hover
    font-weight: $sfHeavy
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3)

video#palms
  position: fixed
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)
  background: image_path "poster.png" no-repeat
  background-size: cover
