$primaryColor: #2196F3
$gradientTop: #8C9190
$gradientBottom: #FFFBCC
$gradient: linear-gradient(to bottom right, $gradientTop, $gradientBottom)
$sfLight: 100
$sfHeavy: 600
$sanFrancisco: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande"

#fixbar
  position: fixed
  top: 0px
  right: 0px
  width: 100%
  background-color: #000
  opacity: .5
  padding-top: 50px

#blur
  position: fixed
  top: 0px
  right: 0px
  width: 100%
  background-color: #000
  opacity: .3
  padding-top: 50px
  filter: blur(10px)

#fixbarLogo
  position: fixed
  left: 30px
  top: 0px
  display: inline
  font-family: $sanFrancisco
  color: #FFF
  font-weight: 300
  letter-spacing: 2px

#fixbarHome
  position: fixed
  right: 30px
  top: 0px
  display: inline
  font-weight: 300
  letter-spacing: 2px
  a
    text-decoration: none
    color: #FFF

.newsfeedHeadline
  color: #000
  font-weight: $sfLight
  font-size: 35pt
  margin: auto
  margin-top: 100px
  text-align: center

.container
  position: relative

.innerContainer
  position: absolute
  background: $gradient
  top: -160px
  z-index: -5

.postContainer
  margin-top: 200px
  margin-bottom: 50px

.post
  width: 80%
  position: relative
  margin: auto
  text-align: center
  background-color: #fff
  border-radius: 10px
  border-bottom-left-radius: 0px
  opacity: .5

.postTitle
  padding: 15px
  text-align: center
  margin: 30px auto
  font-weight: $sfHeavy
  font-size: 16pt

.postAuthor
  position: absolute
  right: 100px
  top: 5px
  font-weight: $sfHeavy
  color: $primaryColor

.authorName
  position: absolute
  right: 25px
  top: 5px
  font-weight: $sfLight

.postDescription
  padding-bottom: 30px
  padding-left: 50px
  padding-right: 50px
  font-weight: $sfLight

.formContainer
  width: 65%
  padding: 30px
  position: relative
  margin: auto
  bottom: 30px

.label
  font-weight: $sfLight
  position: absolute
  left: 30px

.formEntryContainer
  padding: 5px

.field
  position: absolute
  left: 150px

.titleField
  width: 60%

.authorField
  width: 30%

.descriptionField
  width: 60%
  height: 50px

.submit
  position: absolute
  right: 20px
  bottom: 15px
  font-weight: $sfLight
  font-size: 14pt
  text-decoration: none
  color: #fff
  background-color: $primaryColor
  padding: 8px
  border: none
  border-radius: 10px
  border-bottom-left-radius: 0px
