$primaryColor: #2196F3
$gradientTop: #818A8C
$gradientBottom: #F4DDB3
$gradient: linear-gradient($gradientTop, $gradientBottom)
$sanFrancisco: BlinkMacSystemFont
$sfLight: 100
$sfHeavy: 600

.newsfeed
  color: $primaryColor
  font-weight: $sfLight
  font-size: 35pt
  margin: auto
  margin-top: 100px
  padding: 15px
  width: 5em
  text-align: center
  background-color: #FFF
  border-radius: 10px
  border-bottom-left-radius: 0px

body
  background-color: $primaryColor

#fixbar
  position: fixed
  top: 0px
  right: 0px
  width: 100%
  background: #FFF
  opacity: .98
  padding-top: 50px
  display: inline
  color: $primaryColor
  font-weight: $sfHeavy
  letter-spacing: 2px

#fixbarLogo
  position: fixed
  left: 30px
  top: 0px
  display: inline

#fixbarHome
  position: fixed
  right: 30px
  top: 0px
  display: inline
  a
    text-decoration: none
    color: $primaryColor

.postContainer
  position: relative

.post
  width: 80%
  position: relative
  margin: auto
  text-align: center
  background-color: #fff
  border-radius: 10px
  border-bottom-left-radius: 0px

.postTitle
  padding: 15px
  text-align: center
  margin: 30px auto
  font-weight: $sfHeavy
  border-bottom: 7px solid $primaryColor

.postAuthor
  position: absolute
  right: 15px
  top: 0px

.postDescription
  padding: 10px
  padding-left: 50px
  padding-right: 50px
  font-weight: $sfLight
