@import "variables"
@import "mixins"

.container
  position: relative

.headline
  @include headline

.headline:hover
  @include easeToHeavy

.innerContainer
  @include cover
  background: $gradient
  top: 0px
  z-index: -5

.postContainer
  margin-top: 50px
  margin-bottom: 50px

.post
  @include relativeAutoCenter
  @include textBubble
  opacity: .5
  width: 80%

.post:hover
  cursor: pointer

.newPost
  @include relativeAutoCenter
  @include textBubble
  opacity: .5
  width: 80%

.postAbsoluteTop
  position: absolute
  top: 20px

.postAbsoluteBottom
  position: absolute
  bottom: 20px

.postTitle
  padding: 15px
  text-align: center
  margin: 30px auto
  font-weight: $sfHeavy
  font-size: 16pt
  a
    font-weight: $sfHeavy
    font-size: 16pt
    text-decoration: none
    color: #000

.postAuthor
  @include boldBlue
  right: 100px

.authorName
  right: 25px
  font-weight: $sfLight

.postDescription
  padding-bottom: 60px
  padding-left: 50px
  padding-right: 50px
  font-weight: $sfLight

.commentCount
  @include boldBlue
  left: 25px

.postComment
  left: 40px

.addComment
  @include boldBlue
  right: 25px
  a
    text-decoration: none
    color: $primaryColor

.formContainer
  @include relativeAutoCenter
  width: 45%
  height: 100px
  bottom: 50px
  padding: 10px

label
  font-weight: $sfLight
  color: #000

label.title
  position: absolute
  left: -100px
  top: 25px

label.description
  position: absolute
  left: -100px
  top: 90px

.formEntryContainer
  padding: 5px

input#title
  @include recessedInput
  font-size: 10pt

textarea#description
  @include recessedInput
  top: 10px
  height: 50px
  font-size: 10pt

.submit
  @include submitButton
