@import "variables"
@import "mixins"

.loginContainer
  @include relativeAutoCenter
  @include textBubble
  opacity: .5
  margin-top: 200px
  height: 220px
  width: 400px

.loginForm
  @include relativeAutoCenter
  top: 30px
  padding: 20px
  width: 350px

#usernameField
  @include recessedInput

#passwordField
  @include recessedInput
