<div class="fixbar" id="main"></div>

<div class="fixbar" id="blur"></div>

<p class="fixbarText" id="fixbarLogo"><%= link_to "home", controller: 'posts' %></p>
<p class="fixbarText" id="fixbarProfile"><%= link_to "about matth3wjones", profile_path %></p>

<% if @disable_resume %>
  <p class="fixbarText" id="fixbarRésuméorBlog"><%= link_to 'blog', controller: 'posts'%></p>
<% else %>
  <p class="fixbarText" id="fixbarRésuméorBlog"><%= link_to 'résumé', resume_path %></p>
<% end %>
