<div class="fixbar" id="main">
</div>

<div class="fixbar" id="blur">
</div>

<p class="fixbarText" id="fixbarLogo">matthew jones's portfolio</p>
<p class="fixbarText" id="fixbarLogin"><%= link_to 'login', login_path %></p>
<p class="fixbarText" id="fixbarHome"><%= link_to 'home', root_path %></p>
