<div class="fixbar" id="main"></div>

<div class="fixbar" id="blur"></div>

<p class="fixbarText" id="fixbarLogo">matthew jones's portfolio</p>
  <% unless @disable_resume %>
    <p class="fixbarText" id="fixbarRésumé"><%= link_to 'résumé', resume_path %></p>
  <% end %>
<p class="fixbarText" id="fixbarHome"><%= link_to 'home', root_path %></p>
